*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'popins', sans-serif;  
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);  
   
}

p {
 text-align: center;
}

h1{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.btn {
  display:block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 10%;
  margin-top: 92px;
  padding: 1rem 3.5rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600; 
}

.btn:hover {
  box-shadow: none;
}

@media (max-width: 1200px) {
  html{
      font-size: 55%;
  }
  .btn {
    display:block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 10%;
    margin-top: 92px;
    padding: 1rem 3.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
  }
}

@media (max-width: 450px) {
  html {
      font-size: 50%;
  }

  .btn {
    display:block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 10%;
    margin-top: 92px;
    padding: 1rem 3.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
  }
}




