/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * COLORS
   */

  /* background color */
  --bg-purple: hsla(267, 100%, 63%, 1);
  --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
  --bg-dark-purple: hsla(279, 42%, 9%, 1);
  --bg-oxford-blue: hsla(240, 63%, 13%, 1);
  --bg-oxford-blue-alpha-95: hsla(240, 63%, 13%, 0.95);
  --bg-oxford-blue-alpha-90: hsla(240, 63%, 13%, 0.9);
  --bg-oxford-blue-alpha-80: hsla(240, 63%, 13%, 0.8);

  /* gradient color */
  --gradient-1: linear-gradient(to right bottom, hsl(299, 100%, 52%), hsl(291, 100%, 58%), hsl(283, 100%, 60%), hsl(273, 100%, 62%), hsl(262, 100%, 63%), hsl(242, 100%, 69%), hsl(223, 100%, 62%), hsl(210, 100%, 50%), hsl(203, 100%, 50%), hsl(198, 100%, 50%), hsl(192, 100%, 48%), hsl(185, 90%, 48%));
  --gradient-2: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);

  /* text color */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-gainsboro: hsla(0, 0%, 87%, 1);
  --text-champagne-pink: hsla(23, 61%, 86%, 1);
  --text-purple: hsla(267, 100%, 63%, 1);

  /* border color */
  --border-space-cadet: hsl(240, 45%, 17%);
  --border-purple-alpha-30: hsla(267, 100%, 63%, 0.3); 

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --fontFamily-oxanium: 'Oxanium', cursive;
  --fontFamily-work-sans: 'Work Sans', sans-serif;

  /* font size */
  --fontSize-1: 3.6rem;
  --fontSize-2: 2.4rem;
  --fontSize-3: 2rem;
  --fontSize-4: 1.7rem;
  --fontSize-5: 1.6rem;
  --fontSize-6: 1.5rem;
  --fontSize-7: 1.4rem;
  --fontSize-8: 1.2rem;

  /* font weight */
  --weight-regular: 400;
  --weight-semiBold: 600;
  --weight-bold: 700;

  /**
   * SPACING
   */

  --section-spacing: 60px;

  /**
   * BOX SHADOW
   */

  --shadow: 0px 2px 5px 0px hsla(0, 0%, 0%, 0.2);

  /**
   * BORDER RADIUS
   */

  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-3: 3px;

  /**
   * CLIP PATH
   */

  --clip-path-1: polygon(0 0, 100% 0, 100% 0, 0 0);
  --clip-path-2: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  --clip-path-3: polygon(0% 0%, 90% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-4: polygon(90% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  --clip-path-5: polygon(100% 0, 100% 100%, 10% 100%, 0 60%, 0 0);
  --clip-path-6: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  --clip-path-7: polygon(100% 0, 100% 60%, 90% 100%, 0 100%, 0 0);
  --clip-path-8: polygon(0% 0%, 70% 0, 100% 30%, 100% 100%, 0 100%);
  --clip-path-9: polygon(0 0, 90% 0, 100% 100%, 0% 100%);

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}
/* Estilos padrão */
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark-purple);
  background-image: url("../images/Polygon\ Luminary.svg");
}

/* Estilos para a seção do cabeçalho */
header {
  background-color: var(--bg-oxford-blue);
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  /* Estilos para a sua logo */
}
h1 {
  color: var(--text-white);
}


h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.btn-back-home {
  background-image: var(--gradient-1);
  color: var(--text-white);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-back-home:hover {
  background-color: #ff41e6;
  
}


/* Estilos para a barra de pesquisa (mantive os estilos existentes) */
.search-box {
  width: 100%;
  max-width: 990px;
  background-color: var(--bg-oxford-blue);
  color:#e9f3ff;
  margin: 20px auto 0;
  border-radius: 5px;
  padding: 10px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: #333;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

.no-results {
  color: var(--text-white);
  padding: 15px 10px;
  font-size: 1.2rem;
  text-align: center;
}


.result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}



.result-box ul li:hover {
  color: #248a10;
}

.result-box {
  max-height: 300px;
  overflow-y: scroll;
}


.result-box ul li:last-child {
  border-bottom: none; /* Remove a linha do último item para um visual mais limpo */
}

.result-box ul li b {
  display: block;
  margin-top: 10px;
  color: var(--text-white);
}

.result-box ul li {
  list-style: none;
  padding: 15px 10px;
  cursor: pointer;
  color: var(--text-white);
}

.result-box ul li .resposta {
  border-top: 1px solid #ccc; /* Adiciona uma linha de separação acima da resposta */
  padding-top: 10px; /* Adiciona espaço acima da resposta para afastá-la da linha */
  margin-top: 10px; /* Adiciona espaço acima da linha para afastá-la da pergunta */
  display: block; /* Garante que a resposta fique em uma nova linha */
}





.btn{
  padding: 10px 20px;
  display: inline;
  background-image: var(--gradient-1);
  color: var(--text-white);
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.btn:hover{
  background-color: #ff4c2c;
}

.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-white);
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal{
  width: 60%;
  min-width:400px;
  min-height: 200px;
  background-color: var(--bg-purple-alpha-30);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 10px;
}

.fechar{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-image: var(--gradient-1);
  color: var(--text-white);
  font-weight: 700;
  font-size: 14pt;
  cursor: pointer;
}

.modal h1{
  margin-bottom: 20px;
}

@keyframes animate-modal {
  from{
      opacity: 0;
      transform: translate3d(0, -20px, 0);
  }

  to{
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

.modal-container.mostrar{
  display: flex;
}

.mostrar .modal{
  animation: animate-modal .3s;
}
